<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cssl.mapper.InOutpatientTypeMapper">
    <select id="findAllInOutpatientType" resultType="com.cssl.pojo.InOutpatientType">
        SELECT i.inoutpatientId,p.projectName pprojectName,i.projectName projectName,p.projectId
        projectId,u.unitName,u.unitId unitId ,i.price from inoutpatienttype i,unit u, projecttype p where
        i.unit=u.unitId and p.projectId=i.bigprojectId
        <if test="projectName!=null and projectName!=''">
            and i.projectName like concat('%',concat(#{projectName},'%'))
        </if>
        order by i.inoutpatientId desc
    </select>

</mapper>
