<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cssl.dao.MainDao">

    <select id="one" resultType="com.cssl.pojo.PaiBan">
        select d.doctorName doctorName,d.doctorId from doctor d, paiban p where d.doctorId=p.doctorId and p.one  != '无班' and d.dstate!=3
    </select>
    <select id="two" resultType="com.cssl.pojo.PaiBan">
        select d.doctorName doctorName,d.doctorId from doctor d, paiban p where d.doctorId=p.doctorId and p.two  != '无班' and d.dstate!=3
    </select>
    <select id="three" resultType="com.cssl.pojo.PaiBan">
        select d.doctorName doctorName,d.doctorId from doctor d, paiban p where d.doctorId=p.doctorId and p.three  != '无班' and d.dstate!=3
    </select>
    <select id="four" resultType="com.cssl.pojo.PaiBan">
        select d.doctorName doctorName,d.doctorId from doctor d, paiban p where d.doctorId=p.doctorId and p.four  != '无班' and d.dstate!=3
    </select>
    <select id="five" resultType="com.cssl.pojo.PaiBan">
        select d.doctorName doctorName,d.doctorId from doctor d, paiban p where d.doctorId=p.doctorId and p.five  != '无班' and d.dstate!=3
    </select>
    <select id="six" resultType="com.cssl.pojo.PaiBan">
        select d.doctorName doctorName,d.doctorId from doctor d, paiban p where d.doctorId=p.doctorId and p.six  != '无班' and d.dstate!=3
    </select>
    <select id="seven" resultType="com.cssl.pojo.PaiBan">
        select d.doctorName doctorName,d.doctorId from doctor d, paiban p where d.doctorId=p.doctorId and p.seven  != '无班' and d.dstate!=3
    </select>
    <select id="currentNum" resultType="integer">
      select count(*) from report where DATE_FORMAT(time,'%Y-%m-%d')=DATE_FORMAT(SYSDATE(),'%Y-%m-%d') and  state!=0
     </select>
    <select id="currentZhuYuan" resultType="integer">
         SELECT count(*) FROM register where DATE_FORMAT(registerDate,'%Y-%m-%d')=DATE_FORMAT(NOW(),'%Y-%m-%d')
     </select>
    <!--门诊总数-->
    <select id="Total" resultType="integer">
         SELECT count(*) FROM report where state!=0
     </select>
    <!--住院总数-->
    <select id="zhuyuanTotal" resultType="integer">
         select count(*) from register  where state!=0
     </select>

</mapper>
